* {
  color: white;
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;
}

/* *:focus {
  outline: 0;
} */

.clearfix:after{
  clear: both;
  content: '';
  display: table;
}

body {
  background-color: #2B2733;
}

header {
  background-color: #46424D;
  margin: 0px;
  text-align: center;
}

h1 {
  color: #CBC9CF;
  font-size: 140%;
  margin: auto;
  padding: 1%;
  padding-bottom: 10px;
}

h2{
  color: #CBC9CF;
}

.h2-container {
  display: flex;
  justify-content: space-between;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  width:1420px;
}

.new-activity-container {
  padding-left: 2%;
  padding-top: 3%;
  margin-right: 30px;
}

.past-activity-container {
  border-left: 2px solid #46424D;
  padding-top: 3%;
  width: 28.3%;
}

.past-activities-heading {
  margin-left: 7%;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 1420px;
}

.left-section {
  background-color: #46424D;
  border-radius: 4px;
  margin: 1% 2%;
  padding: 3% 7%;
  width: 55%;
}

.select-catagory-paragraph {
  margin-bottom: 2%;
}

.study-button,
.meditate-button,
.exercise-button {
  background-color: #46424D;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 14px;
  height: 55px;
  padding: 3%;
  width: 20%;
}

.study-button {
  background-image: url("./assets/study.svg");
}

.meditate-button {
  background-image: url("./assets/meditate.svg");
}

.exercise-button {
  background-image: url("./assets/exercise.svg");
}

.catagory-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 7%;
}

input {
  background-color: #46424D;
  border-bottom: solid 1px white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  font-size: 16px;
  padding-top: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.start-button-container {
  display: flex;
  justify-content: flex-end;
}

.accomplish-input {
  width: 100%;
}

.minutes-input,
.seconds-input {
  font-size: 16px;
  margin-top: 10%;
  width: 100%;
  -webkit-appearance: none;
}

.time-paragraph {
  margin-top: 45px;
}

.time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-new-activity-button,
#log-activity-button,
.start-activity-button {
  background-color: white;
  border-radius: 3px;
  color: #2B2733;
  font-size: 50%;
  line-height: 5px;
  margin-top: 5%;
  padding: 1.5%;
  width: 20%;
}

aside {
  border-left: solid 2px #46424D;
  padding: 1% 2%;
  width: 355px;
}

.styleStudyButton {
  color: #B3FD78;
  background-image: url(./assets/study-active.svg);
  border-color: #B3FD78;
}

.styleMeditateButton {
  color: #C278FD;
  background-image: url(./assets/meditate-active.svg);
  border-color: #C278FD;
}

.styleExerciseButton {
  color: #FD8078;
  background-image: url(./assets/exercise-active.svg);
  border-color: #FD8078;
}

.warning {
  height: 16px;
  width: 16px;
}

.warning-message {
  color: #EFB7EC;
  visibility: hidden;
}

.timer-screen {
  align-items: center;
  background-color: #46424D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1% 2%;
  padding: 3%;
  padding-bottom: 7%;
  width: 63.3%;
}

#countdown-timer {
  font-size: 450%;
  font-weight: bold;
  margin-bottom: 3%;
}

#start-button {
  background-color: #46424D;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 150%;
  height: 200px;
  outline: none;
  width: 25%;
}

.log-activity-button {
  font-size: 20px;
}

.hidden-screen {
  display: none;
}

#user-accomplish-input {
  font-size: 20px;
}

#congrats-message {
   font-size: 200%;
   font-weight: bold;
   margin-bottom: 5%;
 }

 #log-activity-button {
   font-size: 110%;
 }

 .log-activity-card {
   background-color: #46424D;
   border-radius: 5px;
   height: 62px;
   margin-top: 10px;
   padding: 1%;
   padding-right: 3%;
   padding-top: 2%;
   width: 100%;
 }

 .card-catagory {
   border-right: 3px solid white;
   border-radius: 2px;
   font-weight: bold;
 }

 .card-time {
   margin-bottom: 1%;
 }

 .create-new-activity-screen {
   align-items: center;
   background-color: #46424D;
   padding: 2% 0% 29% 24%;
   margin: 1% 2%;
   width: 44.7%;
 }

 .create-new-activity-button {
   font-size: 110%;
   width: 280px;
 }
