* {
  color: white;
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;
}

.clearfix:after{
  clear: both;
  content: '';
  display: table;
}

body {
  background-color: #2B2733;
}

header {
  background-color: #46424D;
  margin: 0px;
  text-align: center;
}

h1 {
  color: #CBC9CF;
  font-size: 140%;
  margin: auto;
  padding: 1%;
}

h2{
  color: #CBC9CF;
}

.new-activity-container {
  padding-left: 4%;
  padding-top: 3%;
}

.past-activity-container {
  border-left: 2px solid #46424D;
  padding-top: 5%;
  padding-left: 5%;
}

main {
  height: 100%;
  justify-content: space-around;
}

.left-section-container {
  float: left;
  display: inline;
  width: 52%;
}

.left-section {
  background-color: #46424D;
  border-radius: 4px;
  height: 450px;
  margin: 2% 4%;
  padding: 6% 12%;
  width: 97%;
  box-shadow: 5px 5px 10px -5px #000000;
}

.select-catagory-paragraph {
  margin-bottom: 2%;
}

.study-button,
.meditate-button,
.exercise-button {
  background-color: #46424D;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 14px;
  height: 65px;
  padding: 3%;
  width: 19%;
}

.study-button {
  background-image: url("./assets/study.svg");
  background-position: 50% 25%;
  padding-bottom: 1%;
}

.meditate-button {
  background-image: url("./assets/meditate.svg");
  background-position: 50% 25%;
  padding-bottom: 1%;
}

.exercise-button {
  background-image: url("./assets/exercise.svg");
  background-position: 50% 25%;
  padding-bottom: 1%;
}

.catagory-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 8%;
}

.accomplish-paragraph {
  padding-bottom: 2%;
}

input {
  background-color: #46424D;
  border-bottom: solid 1px white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  font-size: 16px;
  padding-top: 2%;
}

input:focus {
  outline: none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.start-button-container {
  display: flex;
  justify-content: flex-end;
}

.accomplish-input {
  width: 100%;
}

.minutes-input,
.seconds-input {
  font-size: 16px;
  margin-right: 100px;
  margin-top: 8%;
  width: 100%;
  -webkit-appearance: none;
}

.time-paragraph {
  margin-top: 45px;
}

.time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-new-activity-button,
#log-activity-button,
.start-activity-button {
  background-color: white;
  border-radius: 3px;
  color: #2B2733;
  font-size: 16px;
  line-height: 5px;
  margin-top: 5%;
  padding: 1.5%;
  width: 23%;
}

aside {
  border-left: solid 2px #46424D;
  padding: 3% 2%;
  height: 660px;
  text-align: center;
}

.right-section {
  float: right;
  display: inline-block;
  height: 670px;
  width: 33%;
}

.styleStudyButton {
  color: #B3FD78;
  background-image: url(./assets/study-active.svg);
  border-color: #B3FD78;
}

.styleMeditateButton {
  color: #C278FD;
  background-image: url(./assets/meditate-active.svg);
  border-color: #C278FD;
}

.styleExerciseButton {
  color: #FD8078;
  background-image: url(./assets/exercise-active.svg);
  border-color: #FD8078;
}

.warning {
  height: 16px;
  margin-right: 1%;
  margin-top: 1%;
  width: 16px;
}

.warning-message {
  color: #EFB7EC;
  visibility: hidden;
}

.timer-screen {
  align-items: center;
  background-color: #46424D;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  float: left;
  height: 487px;
  padding-top: 7%;
  margin: 2% 4%;
  width: 121%;
  box-shadow: 5px 5px 10px -5px #000000;
}

#countdown-timer {
  font-size: 450%;
  font-weight: bold;
  margin-bottom: 3%;
}

#start-button {
  background-color: #46424D;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 150%;
  height: 200px;
  outline: none;
  width: 25%;
}

.log-activity-button {
  font-size: 20px;
}

#user-accomplish-input {
  font-size: 20px;
}

#congrats-message {
   font-size: 200%;
   font-weight: bold;
   margin-bottom: 5%;
 }

 #log-activity-button {
   font-size: 110%;
 }

 .log-activity-card {
   background-color: #46424D;
   border-radius: 5px;
   height: 62px;
   margin: 0px 12px;
   padding: 1%;
   padding-top: 2%;
   text-align: left;
   width: 93%;
   margin-bottom: 2%;
 }

 .card-catagory {
   border-right: 3px solid white;
   border-radius: 2px;
   font-weight: bold;
 }

 .card-time {
   margin-bottom: 1%;
 }

 .create-new-activity-screen {
   align-items: center;
   background-color: #46424D;
   border-radius: 4px;
   height: 500px;
   margin: 2% 4%;
   width: 121%;
   padding-top: 5%;
   box-shadow: 5px 5px 10px -5px #000000;
 }

 .create-new-activity-button {
   font-size: 110%;
   width: 280px;
   display: block;
   margin: auto;
 }

 .hidden-screen {
   display: none;
 }

 @media screen and (max-width: 1140px) {
   .start-activity-button {
     font-size: 30%;
   }

   .minutes-input,
   .seconds-input {
     margin-right: 50px;
   }

 @media screen and (max-width: 768px) {
   main {
     display: flex;
     flex-direction: column;
   }

   .left-section {
     width: 160%;
     display: block;
     height: 100%
   }

   aside {
     width: 290%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 10%;
   }

   .start-activity-button {
     font-size: 10px;
   }

   .hidden-screen {
     display: none;
   }

   @media screen and (max-width: 500px) {
   .left-section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    float: none;
  }

  aside {
    width: 207%;
  }

  .catagory-container {
    display: flex;
    flex-direction: column;
  }

  .study-button,
  .meditate-button,
  .exercise-button {
    width: 75%;
    height: 40px;
    margin-bottom: 10px;
    background-position: 25% 50%;
    padding-left: 15%;
  }

  .catagory-container {
    display: flex;
    flex-direction: column;
    margin-left: 23%;
  }

  .not-selected {
    display: inline;
  }

  .create-new-activity-button,
  #log-activity-button,
  .start-activity-button {
    font-size: 20px;
    width: 85%;
    height: 35px;
    margin: auto;
    margin-bottom: 5%;
  }

  .minutes-input,
  .seconds-input {
    width: 75%;
    padding: 5%;
  }

  h2 {
    font-size: 20px;
  }

  #start-button {
    width: 62%;
  }

  #congrats-message {
    font-size: 30px;
    text-align: center;
  }

  .past-activities-heading {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #46424D;
    width: 340px;
  }

  .log-activity-card {
    width: 88%;
  }

  header {
    width: 335px;
  }

  .hidden-screen {
    display: none;
  }
